
:root{
    --primary-color:#1D5B79;
    --secondary-color:#468B97;
    --accent-color:#EF6262;
    --bg-primary:#EEE2DE;
    --bg-secondary:var(--primary-color)

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}
a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}
.container{
    width: 30vw;
    min-width: 26rem;
    height: 60vh;
    border:1px solid;
    border-radius: 2rem;
    padding: 2rem;
    background: var(--bg-primary);
}
#result{
    box-shadow: 1px 1px 6px 1px;
    border-radius: .4rem;
    height: 2rem;
    text-align: end;
    padding: .3rem 1rem;
    overflow: hidden;
    
    /* color: var(--accent-color); */

}
.screen{
    width: 100%;
    background: var(--bg-secondary);
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
}
.screen input{
    background: inherit;
    border: none;
    outline: none;
    width: 100%;
    padding: 1rem;
    text-align: end;
    color: white;
    font-size: 2rem;
    font-weight: 800;
    box-shadow: 0px 0px 2px 2px;
}
.keyboard{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}
.keyboard > p{
    background: var(--secondary-color);
    padding: 1rem;
    border-radius: .4rem;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}
#equal{
    border: none;
    background: var(--accent-color);
    border-radius: .4rem;
    color: white;
    grid-column: span 2;
}

#del{
    grid-column: span 2;

}
